<html>
<head>
	<title> 使用指南</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
	video.margin {margin:10px -10px 0 -2px}
	</style>
	<link rel="stylesheet" href="../styles/1.css" />
</head>

<body class="margin" display:block margin:0px>
<div class="section1">
			<span>操作指南</span>
	</div>
	<video class="margin" controls="controls"  width="640" height="380" autoplay="autoplay">
  		<source src="../video/czzn.mp4" type="video/mp4" />
	</video>
</body>
</html>